
<div style = "width : 1200px"  dir="ltr">
	<h3>Frozen Columns Left To Right</h3>
	<p-table [columns]="scrollableCols" [frozenColumns]="frozenCols" [value]="cars" [scrollable]="true" scrollHeight="200px" frozenWidth="200px">
	    <ng-template pTemplate="colgroup" let-columns>
	        <colgroup>
	            <col *ngFor="let col of columns" style="width:200px">
	        </colgroup>
	    </ng-template>
	    <ng-template pTemplate="header" let-columns>
	        <tr>
	            <th *ngFor="let col of columns">
	                {{col.header}}
	            </th>
	        </tr>
	    </ng-template>
	    <ng-template pTemplate="body" let-rowData let-columns="columns">
	        <tr>
	            <td *ngFor="let col of columns">
	                {{rowData[col.field]}}
	            </td>
	        </tr>
	    </ng-template>
	</p-table>
</div>

<div style = "width : 1200px"  dir="rtl">
	<h3>Frozen Columns Right To Left</h3>
	<p-table [columns]="scrollableCols" [frozenColumns]="frozenCols" [value]="cars" [scrollable]="true" scrollHeight="200px" frozenWidth="200px">
	    <ng-template pTemplate="colgroup" let-columns>
	        <colgroup>
	            <col *ngFor="let col of columns" style="width:200px">
	        </colgroup>
	    </ng-template>
	    <ng-template pTemplate="header" let-columns>
	        <tr>
	            <th *ngFor="let col of columns">
	                {{col.header}}
	            </th>
	        </tr>
	    </ng-template>
	    <ng-template pTemplate="body" let-rowData let-columns="columns">
	        <tr>
	            <td *ngFor="let col of columns">
	                {{rowData[col.field]}}
	            </td>
	        </tr>
	    </ng-template>
	</p-table>
</div>